.header {
  padding: 20px;

  &_container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_image {
    height: 60px;
    width: 60px;
    transition: all 0.2s ease-out;
  }
}
